# Arquivos compilados
*.class

# Diretórios de saída
/target/
/build/
/out/

# Arquivos temporários
*.log
*.tmp
*.bak

# Arquivos específicos do sistema
.DS_Store
Thumbs.db

# Configurações do Visual Studio Code
.vscode/

# Configurações do Eclipse
.classpath
.project
.settings/

# Configurações do IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Arquivos de configuração do Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Outros arquivos e diretórios ignorados comuns
*.swp
*.swo
*.war
*.ear
*.jar
*.nar
*.zip
*.tar.gz
*.rar

# Arquivos gerados por ferramentas de construção
bin/
/.metadata/
